version: '3.1'

services:
  wordpress:
    build: ./
    depends_on:
      - db
    ports:
      - 8080:80
    volumes:
      - ./wp-content:/var/www/html/wp-content
    env_file: ./.env.wp

  db:
    image: mariadb
    volumes:
      - ./db_data:/docker-entrypoint-initdb.d
    env_file: ./.env.db
